src/conf/xml-resources/web-service-references/SendMT/wsdl/107.23.30.9_80/sendMTDelsur/SendMT.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.4-b01-. --><xs:schema xmlns:tns="http://webservice.mimapp.ogangi.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://webservice.mimapp.ogangi.com/">

<xs:element name="send" type="tns:send"></xs:element>

<xs:element name="sendResponse" type="tns:sendResponse"></xs:element>

<xs:complexType name="send">
<xs:sequence>
<xs:element name="id" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="mobilenumber" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="text" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="sendResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>